<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--任务调度网站站点url-->
    <add key="TaskManagerWebUrl" value="http://localhost:48647/"/>
    <!--当前节点id 与管理站点的id号对应-->
    <add key="NodeID" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>